Checks: "bugprone-*,clang-analyzer-*,performance-*,portability-*,readability-*,-bugprone-easily-swappable-parameters,-readability-identifier-length"
FormatStyle: "{ BasedOnStyle: llvm, IndentWidth: 4 }"
ExtraArgs:
  - -std=c99
CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: 30
